<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{messageTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{messageBody}}&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div class="user">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f,content)">
      <div class="form-group">
        <input class="form-control" placeholder="Email" type="email" name="eMail" [(ngModel)]="eMail">
        <br/>
    
        <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="password">

        <br/>
       
        <button class="btn btn-submit">Sign In</button>
      </div>
    </form>
  </div>
</div>